html {
    background: #303030;
}

html, body {
    padding: 0;
    margin: 0
}

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    color: #d6d6b4;
    font-family: 'nt', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #00cc99;
    padding: 0;
    padding-left: 0.2vw;
}

a:hover {
    color: #009977;
}

a:visited {
    color: #66ffcc;
}

a:visited:hover {
    color: #00d7a8;
}

@font-face {
    font-family: 'nt';
    src: url('./assets/nt.ttf') format('opentype');
}

@font-face {
    font-family: 'nt-bold';
    src: url('./assets/nt-bold.ttf') format('opentype');
}

::-webkit-scrollbar {
    width: 10px;
    background: #0000;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccccc;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999cc;
}

::-webkit-scrollbar-thumb:active {
    background-color: #888888cc;
}

::-webkit-scrollbar-button, .dummy {
    display: none;
}

.maintext {
    font-family: 'nt-bold';
    font-size: 20px;
}

.body, .noscript {
    background: #363636;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0;
    box-sizing: border-box; 
    border-bottom: 3px solid #474747;
    padding: 30px;
    font-size: 18px;
}

img.picture {
    width: 520px;
    border-radius: 20px;
    margin: 20px;
    transition: all ease-in-out 0.1s;
}

img.picture:hover {
    scale: 0.97;
    filter: brightness(0.9)
}

img.picture:active {
    scale: 0.96;
    transition: none;
}

div.picturecont {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow-x: scroll;
    background: #222;
    border: 5px solid #252525;
    border-radius: 20px 20px 8px 8px;
    opacity: 0.9;
}

.medium {
    font-size: 20px;
    color: #e7e7c1;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.presub {
    font-size: 22px;
    color: #ddddbe;
}

.sub {
    padding-top: 2px;
    padding-left: 10px;
}

button.download {
    background: #67675acd;
    border: none;
    border-radius: 3px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 2px;
    font-size: 16px;
    transition: all ease-in-out 0.1s;
    outline: none;
}

button.download.detail {
    background: #0000;
    color: #eae6bd;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
}

button.download.detail:hover {
    background: #e1e1ca37;
    color: #e9e4bc;
}

button.download.detail:active {
    background: #92927f6a;
    color: #d4daae
}

button.download:hover {
    filter: brightness(0.9)
}

button.download:active {
    transition: none;
    filter: brightness(0.85);
}

.bold {
    font-size: 25px;
    font-family: 'nt-bold';
    padding-left: 5px;
    color: #dfdfbf;
}

.offset.d { padding-top: 0; padding-bottom: 5px }
.offset.d.l { padding-top: 0; padding-bottom: 15px }
.offset.d.b { padding-top: 0; padding-bottom: 30px }
.offset { padding-top: 5px }
.offset.l { padding-top: 15px }
.offset.b { padding-top: 30px }
.max { width: 100%; height: 100% }

summary { outline: none }
ul { padding-left: 30px }
li { padding-bottom: 4px }

img.detail {
    width: 40px;
    position: absolute;
    margin: 10px;
    content: url('/assets/cancel-light.svg');
    background: #fff3;
    border-radius: 10px;
    transition: all ease-in-out .1s;
}

img.detail:hover { background: #fff4 }
img.detail:active { background: #fff5 }

div.detail {
    position: fixed;
    z-index: 6;
    margin: 10px;
    width: calc(100% - 25px);
    border: none;
    outline: none;
    height: calc(100% - 25px);
}

iframe.detailframe {
    border-radius: 18px 17px 17px 18px;
    border: 2px solid #c9c9c9;
    margin: 0;
    padding: 0;
}

div.detail[opened] { animation: detail-show .7s cubic-bezier(0.25, 0.1, 0.25, 1) forwards }
div.detail:not([opened]):not([closed]) { animation: detail-hide .7s ease-in-out forwards }
div.detail:not([opened])[closed] { opacity: 0; display: none }

@keyframes detail-show { 0% { left: 100%; opacity: 0; display: none } 100% { left: 0px; opacity: 1 } }
@keyframes detail-hide { 0% { left: 0px; opacity: 1 } 100% { left: 100%; opacity: 0 } }

.page {
    transition: all .5s ease-in-out;
    opacity: 0;
    display: none;
}

#page1 {
    opacity: 1;
    display: block;
}

button.menu {
    background: #bcbcbc22;
    outline: none;
    border: 1px solid #b1b1b1;
    width: 220px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    border-radius: 3px;
}

.left { justify-content: left }
.leftt { text-align: left }
.cent { justify-content: center }
.centt { text-align: center }
.right { justify-content: right }
.rightt { text-align: right }
.margin { margin: 20px }

#divmenu {
    position: fixed;
    border-radius: 0 30px 30px 0;
    background: #3b3b3b;
    transition: all .9s ease-in;
    overflow-y: scroll;
    z-index: 6;
    margin: auto;
    padding: 1.1%;
    border-radius: 0;
    height: 91%;
    width: 90%
}

#divmenu[opened] { animation: menu-expand-up .3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards }
#divmenu:not([opened]):not([closed]) { animation: menu-expand-down .2s ease-in-out forwards }
#divmenu:not([opened])[closed] { opacity: 0; display: none }

div.menu[anim] {
    animation: menu-expand-up-div .3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    width: 100%;
    border-radius: 20px 20px 0 0;
    left: 0px;
}


div.menu[anim] div.arrow {
    transform: rotate(-270deg);
    animation: rotate270 forwards .3s ease-in-out;
}

div.menu:not([anim]) div.arrow { animation: rotate270back forwards .3s ease-in-out }
div.menu:not([anim]):not([closed]) { animation: menu-expand-down-div .3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards }

div.menu {
    bottom: 0;
    display: flex;
    height: 22px;
    background: #454545;
    position: fixed;
    text-align: center;
    justify-content: center;
    z-index: 6;
    width: 90%;
    left: 5%;
    border-radius: 11px 11px 0 0;
    transition: all .3s ease;
    animation: show-menu .3s ease-in-out;
}

div.menu:hover:not([anim]) {
    height: 24px;
    background: #4d4d4d;
}

div.menu[anim]:hover {
    height: 24px;
    background: #4d4d4d;
}

div.arrow {
    margin: 0 8px 0 8px;
    transform: rotate(-90deg);
}

details[open] { animation: details-slide .3s ease-in-out }
details:not([open]) { animation: details-slideback .3s ease-in-out }

body { animation: show .8s ease-in-out }

@keyframes show { 0% { opacity: 0 } 100% { opacity: 1 } }
@keyframes show-menu { 0% { opacity: 0 } 80% { opacity: 0 } 100% { opacity: 1 } }
@keyframes rotate270 { 0% { transform: rotate(-90deg) } 100% { transform: rotate(-270deg) } }
@keyframes rotate270back { 0% { transform: rotate(-270deg) } 100% { transform: rotate(-90deg) } }
@keyframes menu-expand-up { 0% { top: 100%; left: 4%; width: 90% } 100% { top: 8.9%; left: 0%; width: 98% } }
@keyframes menu-expand-down { 0% { top: 8.9%; left: 0%; width: 98% } 100% { top: 100%; left: 4%; width: 90% } }
@keyframes menu-expand-up-div { 0% { bottom: 0 } 100% { bottom: 91% } }
@keyframes menu-expand-down-div { 0% { bottom: 91% } 100% { bottom: 0 } }
@keyframes details-slide { 0% { opacity: 0; transform: translate(0, -3px) } 100% { opacity: 1; transform: translate(0, 0) } }
@keyframes details-slideback { 0% { opacity: 0; transform: translate(0, 3px) } 100% { opacity: 1; transform: translate(0, 0) } }

.widthwarn { display: none }

@media (max-width: 260px) {
    .body, .page, .detail, #page1, .widthwarn, #divmenu, div.menu {
        opacity: 0;
        display: none;
    }
}

@media (orientation: portrait) {
    img.picture {
        width: 250px;
        border-radius: 6px;
    }
}

@media (prefers-color-scheme: light) {
    div.menu:hover:not([anim]) {
        background: #a3a3a3;
    }
    
    div.menu[anim]:hover {
        background: #acacac;
    }

    a {
        color: #003f2f;
        padding: 0;
        padding-left: 0.2vw;
    }
    
    a:hover {
        color: #005943;
    }
    
    a:visited {
        color: #007759;
    }
    
    a:visited:hover {
        color: #009570;
    }
    
    div.menu {
        background: #b5b5b5;
    }

    div.arrow {
        color: #333
    }

    div.picturecont {
        background: #aaa;
        border-color: #bbb;
    }

    button.menu {
        color: #333;
        border: 1px solid #333;
        background: #11111105;
    }

    #divmenu {
        background: #bfbfbf;
    }

    img.detail {
        content: url('/assets/cancel-black.svg');
        background: #0003;
    }

    img.detail:hover {
        background: #0004;
    }
    
    img.detail:active {
        background: #0005;
    }

    div.detail {
        border: none
    }

    iframe.detailframe {
        border: 2px solid #3d3d3d;
    }

    button.download.detail {
        color: #111
    }

    button.download.detail:hover {
        background: #67675a37;
        color: #141414;
    }
    
    button.download.detail:active {
        background: #67675a6a;
        color: #191919
    }

    * {
        color: #141414
    }

    p.bold {
        color: #050505
    }

    html {
        background: #dbdbdb;
    }

    .main {
        background: #d7d7d7;
    }

    .body {
        background: #cecece;
    }

    span.mainitem {
        color: #434343
    }

    a.maintext {
        color: #252525
    }

    button.download {
        background: #3a3a3aca;
        color: #f8f8f8;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #353535cc;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #5a5a5acc;
    }
    
    ::-webkit-scrollbar-thumb:active {
        background-color: #7b7b7bcc;
    }

    p.medium {
        color: #111111
    }
}